body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-image: url(../img/hospital.png);
  background-size: cover;
}

.form {
  margin: 15vh auto;
  padding: 30px;
  background-color: white;
  width: 60%;
  height: auto;
  border-radius: 2%;
}

h1 {
  text-align: center;
}

.boton {
  text-align: right;
}

.confirmacion {
  color: royalblue;
  text-align: center;
  font-size: 14px;
}

@media only screen and (max-width: 992px) {
  .form__email {
    padding-top: 3.5vh;
  }
}
